body {
    padding-top: 50px;
}
button{
    background-color: blue;
    color: white;
    border-radius: 3px;
}



.grid_layout1{
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 10px;
    margin-bottom: 100px;
   
}

