body {
    padding-top: 50px;
}
button{
    background-color: blue;
    color: white;
    
   
   
}

.viewbutton{
    background-color: #14b7a6;
    color: white;
    font-size: 15px;
    padding:9px;
    text-align:center ;
   
    
    
  
}
.btn{
    background-color:#14b7a6;
    color: white;
    margin-bottom:42px;
}
a{
    align-items: center;
}


.grid_layout1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    
}
.card-title{
    font-weight: bold;
    margin-left: 8px;
    
}
.iconp{
    height: 17px;
    width:12px;
    margin-right: 8px;
    margin-left: 8px;
    
}
.prices{
    background-color: blue;
    color: white;
    border-radius: 15px;
    width:19%;
    padding:6px;
    margin-left:8px ;
    font-size: 10px;
    
}
.img2{
    
    width: 100%;
    height: 80%;
   
}

.card-tit{
    font-weight: bold;
    margin-top:15px;
}


.descrip{
    margin-top:15px;
}

.img1{
    width:450px;
    height:315px;

}

   
 
.navbar{
    background-color: #14b7a6;
}  
   

.column1{
    
    margin-left:25px ;
    width:50%;
    
    

}

.top{
      display:flex;
      margin-top:15px;
      
  }
  .icon3{
      margin-top:10px;
  }
.prop{
      margin-left: 12px;
  }
.pri{
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 8px;
    width:15%;
    font-size: 12px;


  }
   .prop{
    background-color: #f9be26;
    color: white;
    text-align: center;
    border-radius: 8px;
    width:11%;
    font-size: 11px;
   }
  
#cards{
    width:97%;
}