{%extends 'base.html'%}

{% block main%}

<h1 class="heading">Properties</h1>
{% include "flash_messages.html"%}

<br>

    <div class="grid_layout1">
        <div class="card">
    
{% for user in users %}
 

<img src = "{{url_for('get_image',filename=user.photo_name)}}"></img>
    <h6>{{user.title}}</h6>
    <h6>{{user.location}}</h6>
    <h6>{{user.pric}}</h6>
    <button type="button">View Property</button> 

        
            <br>
            {%endfor %}
  
    </div>
</div>

{% endblock%}