{% extends "base.html" %}
{% block main %}


<h1 class="heading">Add New Property</h1>
<br>
<form action="{{url_for('property')}}" method='POST' enctype = "multipart/form-data"> 
    {{ form.csrf_token }} 
    <form class="formc">
        <div class="row">
     <div class="col-8">
         {{ form.title.label }} 
         {{ form.title(class='form-control') }} 
         
     </div> 
     <br>
     

     <div class="col-sm-8">
         {{ form.desc.label }}
         {{ form.desc(class='form-control') }}
         
         
     </div> 
    </div>
    <br>
     
     <div class="row">
     <div class="col-md-4">
         {{ form.numOfBed.label }} 
         {{ form.numOfBed(class='form-control',placeholder="3" )}}
     </div> 
     <br>
     <div class="col-md-4">
         {{ form.numOfBath.label }}
         {{ form.numOfBath(class='form-control', placeholder="2") }}
     </div> 
     </div>
     <br>
     <div class="row">
     <div class="col-md-4">
         {{ form.pric.label }} 
         {{ form.pric(class='form-control', placeholder="$15,000,000") }}
     </div> 
     <br>
     <div class="col-md-4">
         {{ form.proptype.label }}
         {{ form.proptype( class='form-control', placeholder= "Select Type") }}
     </div> 
     </div>
     <br>
     <div class="row">
     <div class="col-md-4">
         {{ form.location.label }}
         {{ form.location(class='form-control', placeholder = "10 Waterloo Road ") }}    
     </div>
     </div>  
     <br>
     <div class="row">
     <div class="col-md-4">
        {{ form.pic.label }}
        {{ form.pic(class='form-control') }}    
     </div>
     </div>
    <br> 

     <button type="submit" name="submit" id="btn">Add Property</button> 
</form>
    {% endblock %}