{%extends 'base.html'%}

{% block main%}

<h1 class="heading">Properties</h1>
{% include "flash_messages.html"%}

<br>
<ul class="images">
<div class="grid_layout1">
  
    
{% for user in users %}
<div class="card">
 

<li class ="grid_layout"><img class="img" src = "{{url_for('get_image',filename=user.photo_name)}}">
    <h6>{{user.title}}</h6>
    <h6>{{user.location}}</h6>
    <div class="prices">
    {{user.pric}}
    </div>
    <br>
    <button type="button">View Property</button> 

        
            <br>
</div>
            {%endfor %}
    </ul>
    </div>


{% endblock%}