{%extends 'base.html'%}

{% block main%}

<br>
<h1 class='page-header'>Property</h1>
{% include "flash_messages.html"%}
<div class="card" id="cards">
<div class="row">
    <div class="column">
     <img class="img1" src = "{{url_for('get_image',filename=userpro.photo_name)}}">
    </div>

    
    <div class="column1">
        <h3 class="card-tit">{{userpro.title}}</h3>
    <div class="top">
        <div class="pri">
        {{userpro.pric}}
    </div>
        <div class="prop">
        {{userpro.proptype}}
    </div>
    </div>
    <div class="descrip">
    <p class="card-tex">{{userpro.desc}}</p>
    </div>
    <div class="row">
        <div class="col-md-3">
    <p ><img class="iconp" src="{{url_for('static', filename='bed.png')}}"/>{{userpro.numOfBed}} Bedroom</p>
    </div>
    <div class="col-md-3">
        <p ><img class="iconp" src="{{url_for('static', filename='bath.png')}}"/>{{userpro.numOfBath}} Bathroom</p>
        </div>
    </div>
    <div class="icon3">
            <p ><img class="iconp" src="{{url_for('static', filename='loc.png')}}"/>{{userpro.location}}</p>
            </div>
    
    <button class="btn">Email Realtor</button>
    </div>
</div>
</div>

    
{% endblock%}